#include <windows.h>
#include "MyResources.h"
BMPEARTH	BITMAP	earth.bmp
MYICON		ICON	earth.ico

DLGBOX		DIALOG	DISCARDABLE 0,0,300,120
STYLE		DS_MODALFRAME | WS_POPUP | DS_CENTER
FONT		12, "Consolas"
BEGIN
	GROUPBOX		"Registration", 100, 10, 10, 280, 100
	
	LTEXT			"Name     :", -1, 20, 30, 60, 10
	EDITTEXT		ID_ETNAME, 70, 30, 200, 10, WS_TABSTOP
	
	LTEXT			"Phone    :", -1, 20, 50, 60, 10
	EDITTEXT		ID_ETPHONE, 70, 50, 200, 10, WS_TABSTOP	
	
	LTEXT			"Gender   :", -1, 20, 70, 60, 10
	AUTORADIOBUTTON "Male", ID_RBMALE, 70, 70, 50, 10, WS_TABSTOP
	AUTORADIOBUTTON "Female", ID_RBFEMALE, 130, 70, 50, 10, WS_TABSTOP

	PUSHBUTTON		"OK", IDOK, 180, 90, 40, 12, WS_TABSTOP
	PUSHBUTTON		"Cancel", IDCANCEL, 230, 90, 40, 12, WS_TABSTOP
END
